<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="search-bar ps-5 pe-1">
      <select class="form-control search-option" id="search">
        <option value="">ALL CATEGORIES</option>
        <option value="0">SHIRTS</option>
        <option value="1">JEANS</option>
        <option value="2">T-SHIRTS</option>
        <option value="3">SHORTS</option>
      </select>
    </div>
    <!-- search bar -->
    <div class="me-auto">
      <form class="d-flex ms-1" role="search">
        <input
          class="form-control search-option"
          type="search"
          placeholder="I'm searching for..."
          aria-label="Search"
        />
        <span class="material-symbols-outlined ms-2">search</span>
      </form>
    </div>
    <!-- nav icons -->
    <div>
      <a href=""
        ><span class="material-symbols-outlined"> account_circle </span></a>
      <a href=""><span class="material-symbols-outlined"> favorite </span></a>
      <a href=""
        ><span class="material-symbols-outlined"> shopping_cart </span></a>
    </div>
  </body>
</html>
