{% extends "core/base.html" %}
{% load static %}
{% block title %}Payment{% endblock title %}

{% block content %}
<div class="container">
    <h2>Payment Gateway</h2>
    <div class="row fs-5">
        <hr class="pt-3">
        {% for order in order_items %}
        <div class="col-5">
            {{ order.product.name }}
        </div>

        <div class="col-4">
            {{ order.quantity }}
        </div>

        <div class="col-3 pb-2">
            ₹{{ order.calculate_subtotal }}
        </div>
        <hr class='pt-2'>
        {% endfor %}
        <div class="fs-4 pb-3"> Total : ₹{{ total }} </div>
    </div>
    <button id="rzp-button1" class="btn btn-dark ps-5 pe-5 rounded-0">Pay Now</button>
</div>


<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
var options = {
    "key": "rzp_test_irphkDgn8Na7V5",
    "amount": "2000", // 2000 paise = INR 20
    "name": "AntiQuin",
    "image": "{% static "img/logo.png" %}",
    "handler": function (response){
        alert(response.razorpay_payment_id);
    },
    "prefill": {
        "name": "Sinan",
        "email": "sinan@razorpay.com"
    },
    "notes": {
        "address": "Hello World"
    },
    "theme": {
        "color": "#F37254"
    }
};
var rzp1 = new Razorpay(options);

document.getElementById('rzp-button1').onclick = function(e){
    rzp1.open();
    e.preventDefault();
}
</script>

{% endblock content %}