{% extends "core/base.html" %}
{% load static %}
{% block title %}Checkout{% endblock title %}

{% block content %}
<div class="container">
    <form action="{% url "order:start_order" %}" method="post">
    {% csrf_token %}
        <div class="row">
            <div class="col-lg-8 col-12 pb-3">
                <div class="p-4 mb-3 rounded bg-secondary-subtle">
                    <h3 class="text-warning-emphasis pb-2">CONTACT INFORMATION</h3>
                    <div class="row">
                        <div class="col-6">
                            <label for="fname" class="form-label">First Name</label>
                            <input type="text" name="first_name" id="fname" value="{{ request.user.first_name }}" class="form-control" required>
                        </div>
                        <br>
                        <div class="col-6">
                            <label for="lname" class="form-label">Last Name</label>
                            <input type="text" name="last_name" id="lname" value="{{ request.user.last_name }}" class="form-control" required>
                        </div>
                        <br>
                    </div>
                    <br>
                    <div>
                        <label for="email" class="form-label">E-mail</label>
                        <input type="email" name="email" id="email" value="{{ request.user.email}}" class="form-control" required>
                    </div>
                    <br>
                    <div>
                        <label for="phone" class="form-label">Phone</label>
                        <input type="text" name="phone" id="phone" value="{{ request.user.phone }}" class="form-control" required>
                    </div>
                    <br>
                </div>

                <div class="p-4 mb-3 rounded bg-secondary-subtle">
                    <h3 class="text-warning-emphasis pb-2">SHIPPING INFORMATION</h3>
                    <div>
                        <label for="address" class="form-label">Address :</label>
                        <input type="text" name="address" id="address" value="{{ request.user.address }}" class="form-control" required>    
                    </div>        
                    <br>
                    <div class="row">
                        <div class="col-6">
                            <label for="place" class="form-label">City/Place</label>
                            <input type="text" name="place" id="place" value="{{ request.user.place }}" class="form-control" required>
                        </div>
                        <br>
                        <div class="col-6">
                            <label for="pincode" class="form-label">Pin Code</label>
                            <input type="text" name="pincode" id="pincode" value="{{ request.user.pincode }}" class="form-control" required>
                        </div>
                        <br>
                    </div>
                    <br>
                </div>

                {% if form.errors or form.non_field_errors %}
                <div class="p-4 mb-3 rounded bg-secondary-subtle">
                    <p>There is an error</p>
                </div>
                {% endif %}
            </div>

            <div class="col-lg-4 col-md-8 ms-auto me-auto mb-4">
                <div class="card bg-dark-subtle text-dark  p-3">
                        <span class="text-center  fs-3">Summary</span>
                    <hr />
                    <div class="row">
                        <div class="col-4">Product</div>
                        <div class="vr p-0"></div>
                        <div class="col-3">Qty</div>
                        <div class="vr p-0"></div>
                        <div class="col-3">Price</div>
                    </div>
                    <hr />
                    {% for item in cart_items %}
                    <div class="row pb-3">
                        <div class="col-5">{{ item.product.name }}</div>
                        <div class="col-3">{{ item.quantity }}</div>
                        <div class="col-4">₹ {{ item.subtotal }}</div>
                    </div>
                    {% endfor %}
                    <hr>
                    <div class="row pb-3">
                        <div class="col-12">Total : ₹{{ total }}</div>
                    </div>
                    
                    <input type="hidden" name="payment_method" id="payment_method" value="" />
                    <!-- Buttons for COD and Online Payment -->
                    <button class="btn btn-dark rounded-0 mb-2" type="submit" onclick="setPaymentMethod('COD')">Cash on delivery</button>

                    <button class="btn btn-primary rounded-0" id="pay-btn" type="submit" onclick="setPaymentMethod('online')">
                        <img src="{% static "img/Razorpay_logo.svg" %}" class="img-fluid" style="height: 1.5rem;" alt="">
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
    function setPaymentMethod(method) {
        document.getElementById("payment_method").value = method;
    }

    var options = {
        key: "{{ razorpay_merchant_key }}", 
       
        amount: "{{ razorpay_amount }}", 
        currency: "{{ currency }}",
        
        name: "AntiQuin", 
        
        order_id: "{{ razorpay_order_id }}", 
        callback_url: "{{ callback_url }}",
    };
     
    var rzp1 = new Razorpay(options);
     
    document.getElementById("pay-btn").onclick = function (e) {
      rzp1.open();
      e.preventDefault();
    };
</script>
{% endblock content %}