body{
    font-family: 'Montserrat', sans-serif;
}

.logo{
    height: 2.5rem;
}

.search-bar-list{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    border-style: solid;
    border-color: rgb(242, 240, 240);
    padding: .5rem 2rem .5rem .5rem;
}

.search-option{
    border: 0px;
}

.search-icon{
    height: 2rem;
}

.material-symbols-outlined {
    padding-top: .3rem;
    font-size: 2rem;
    color: rgb(66, 64, 64);
  font-variation-settings:
  'FILL' 0,
  'wght' 450,
  'GRAD' 1500,
  'opsz' 40
}

.nav-icons{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}