body{
    font-family: 'Montserrat', sans-serif;
}

.logo{
    height: 2.5rem;
}

.search-bar-list{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    border-style: solid;
    border-color: rgb(242, 240, 240);
    padding: .5rem 2rem .5rem .5rem;
}

.search-option{
    border: 0px;
}

.search-icon{
    height: 2rem;
}

.material-symbols-outlined {
    padding-top: .3rem;
    font-size: 2rem;
    color: rgb(66, 64, 64);
  font-variation-settings:
  'FILL' 0,
  'wght' 450,
  'GRAD' 1500,
  'opsz' 40
}

.user-panel{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.div-cart ul{
    list-style-type: none;
}

.product-img{
    height: 25rem;
}

.menu-icon{
    display: none;
    color: black;
}

.main-user-cart-div{
    display: flex;
}


@media screen and (max-width: 1000px) {
    .search-bar{
        display: none;
    }

}

@media screen and (max-width: 465px) {
    .div-cart{
        display: none;
    }
}


@media screen and (max-width: 360px) {
    .menu-icon{
        display: block;
    }

    .user-panel-div{
        display: none;
    }
}

.social-media{
    color: black;
    font-size: 3rem;
}

.insta :hover{
    color: rgb(225, 48, 108);
}

.wtsp :hover{
    color: rgb(37, 211, 102);
}

/* -------------- add-btn queries ------------ */


@media screen and (max-width: 1440px) {
    .add-btn{
        width: 17rem;
    }
}

@media screen and (max-width: 1400px) {
    .add-btn{
        width: 15rem;
    }
}

.add-btn{
    width: 14.2rem;
}

@media screen and (max-width: 1200px) {
    .add-btn{
        width: 8rem;
    }
}

@media screen and (max-width: 998px) {
    .add-btn{
        width: 12rem;
    }
}

@media screen and (max-width: 768px){
    .add-btn{
      width: 30rem;
    }
}

@media screen and (max-width: 425px) {
    .add-btn{
        width: 20rem;
    }
}

@media screen and (max-width: 350px) {
    .add-btn{
        width: 17rem;
    }
}