{% extends "core/base.html" %}

{% block title %}Favourites{% endblock title %}

{% block content %}

<div class="container">
    <button 
      onclick="history.back()"
      class="btn btn-warning rounded-pill"
    >
      <i class='bx bx-arrow-back pe-1'></i>
      continue shopping
    </button>
    <br/>
    <br/>
  
    <h2 class="pt-3 pb-3">Favourites</h2>
    {% if favourites %}
    <div class="row">
      
        {% for favourite in favourites %}  
        <div class="col-lg-6 col-md-6">
          <div class="card mb-3">
            <div class="row p-3">
              <div class="col-4 col-lg-3 pb-3">
                <a href="{% url "item:detail" favourite.product.id %}">
                  <img src="{{ favourite.product.image.url }}" style="height: 7rem;" class="img-fluid ms-1 mt-2" />
                </a>  
              </div>
  
              <div class="col-6 col-lg-7 pt-4 pb-4">
                <span>{{ favourite.product.name }}</span>
                <br>
                {% if favourite.product.description %}
                  <span class="text-secondary" style="font-size: .8rem;">{{ favourite.product.description }}</span>
                {% endif %}
                <br>
                <br>
                <div class="">
                  Rs. {{ favourite.product.price }}
                </div>
              </div>
              <div class="col-2 col-lg-2 pt-2 ms-auto me-auto">
                <i 
                  class='bx bxs-x-square fs-4 text-danger'
                  onclick="location.href= '{% url "favourites:delete_item" favourite.id %}' "
                ></i>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      
    </div>
</div>
{% else %}
<p class="text-center text-body-tertiary pt-3">You haven't added any favorites yet.</p>
{% endif %}

{% endblock content %}