{% extends "core/base.html" %}

{% block title %}Cart{% endblock title %}

{% block content %}

<div class="container">
  <h2 class="pt-3">Your Cart</h2>
  
  <ul class="pt-4">
    {% for item in cart_items %}
    <li class="pb-2">
        <img src="{{ item.product.image }}" >
        {{ item.product.name }} - 
        Quantity: {{ item.quantity }} -
        Price: {{ item.product.price }} - 
        Subtotal : {% widthratio item.product.price 1 item.quantity %}
    </li>
    {% endfor %}
  </ul>

  <p>Total: {{ total }}</p>
</div>

{% endblock content %}