{% extends "core/base.html" %}

{% block title %}Cart{% endblock title %}

{% block content %}

<div class="container">
  <button 
    onclick="history.back()"
    class="btn btn-warning rounded-pill"
  >
    <i class='bx bx-arrow-back pe-1'></i>
    continue shopping
  </button>
  <br/>
  <br/>

  <h2 class="pt-3 pb-3">Your Cart</h2>
  {% if cart_items %}
  <div class="row">
    <div class="col-lg-7">
      {% for item in cart_items %}  
        <div class="card mb-3">
          <div class="row p-2">
            <div class="col-4 col-lg-3">
              <a href="{% url "item:detail" item.product.id %}">
                <img src="{{ item.product.image.url }}" class="img-thumbnail"  />
              </a>
            </div>
            
            <div class="col-6 col-lg-6">
              <div class="pt-2">{{ item.product.name }}</div>
             <div class="pb-2">
                Rs. {{ item.product.price }}
              </div>

              <div class="row">
                <div class="col-12">
                  <form 
                    method="post"
                    class="d-flex"
                    {% comment %} action="{% url 'update_quantity' item.product.id %}" {% endcomment %}
                  >
                    {% csrf_token %}
                    <div>
                      Quantity:
                      <br>
                      <a 
                        class="btn btn-light pb-0 pt-0 ps-1 pe-1"
                      >
                        <i class='bx bxs-minus-circle'></i>
                      </a>
                  
                      <input 
                        type="text"
                        class="text-center"
                        value="{{ item.quantity }}"
                        style="width: 1.5rem; height: 1.5rem;"
                        readonly
                      >
                      <a 
                        class="btn btn-light pb-0 pt-0 ps-1 pe-1"
                      >
                        <span><i class='bx bxs-plus-circle'></i></span>
                      </a>
                    </div>
                  </form>
                </div>
              </div>
              <p class="">{{ item.subtotal }}</p>
            </div>

            <!-- cart delete btn -->
            <div class="col-lg-3 col-2 pt-1 ms-auto">
              <i 
                class='bx bxs-x-square fs-4 text-danger'
                onclick="alert('Item removed from cart!'), location.href= '{% url "cart:delete_item" item.id %}' "
              ></i>
            </div>
          </div>
        </div>
      {% endfor %}
      <p>Total: {{ total }}</p>
    </div>
  </div>
</div>
{% else %}
<p class="text-center text-body-tertiary pt-3">Your cart is empty</p>
{% endif %}
{% endblock content %}