{% extends "core/base.html" %} 
{% block title %}Address{% endblock title %} 
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-lg-8 pb-5">
      <h3 class="pb-4">Shipping Address</h3>
      {% comment %} <form class="row g-3">
        <div class="col-12">
          <input
            type="text"
            class="form-control"
            id="inputAddress"
            placeholder="house no., floor, apartment"
            autofocus
            required
          />
          <label
            for="inputAddress"
            class="form-label ms-auto"
            style="font-size: 0.9rem"
            >Address line</label
          >
        </div>
        <div class="col-12">
          <input
            type="text"
            class="form-control"
            id="inputAddress2"
            placeholder="area, street,village"
          />
          <label
            for="inputAddress2"
            class="form-label ms-auto"
            style="font-size: 0.9rem"
            >Address line 2</label
          >
        </div>
        <div class="col-md-6">
          <input type="text" class="form-control" id="inputCity" required />
          <label
            for="inputCity"
            class="form-label ms-auto"
            style="font-size: 0.9rem"
            >City</label
          >
        </div>
        <div class="col-md-6">
          <select id="inputState" class="form-select" required="True">
            <option value="">Choose...</option>
            <option value="1">Andhra Pradesh</option>
            <option value="2">Chhattisgarh</option>
            <option value="3">Delhi</option>
            <option value="3">Goa</option>
            <option value="4">Jharkhand</option>
            <option value="">Karnataka</option>
            <option value="">Kerala</option>
            <option value="">Madhya Pradesh</option>
            <option value="">Maharashtra</option>
            <option value="">Mizoram</option>
            <option value="">Puducherry</option>
            <option value="">Tamil Nadu</option>
            <option value="">Telangana</option>
            <option value="">Uttar Pradesh</option>
          </select>
          <label
            for="inputState"
            class="form-label ms-auto"
            style="font-size: 0.9rem"
            >State</label
          >
        </div>
        <div class="col-md-2">
          <input type="text" class="form-control" id="inputZip" required />
          <label
            for="inputZip"
            class="form-label ms-auto"
            style="font-size: 0.9rem"
            >PIN Code</label
          >
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-dark rounded-0 ps-5 pe-5">
            Submit
          </button>
        </div>
      </form> {% endcomment %}
      <form method="post" acton="" class="row g-3">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="col-12">
            <button type="submit" class="btn btn-dark rounded-0 ps-5 pe-5">
                Submit
            </button>
        </div>
    </form>
    
    </div>

    
  </div>
</div>

{% endblock content %}
