{% extends "account/profile.html" %}

{% block admin %}
{% if user.is_staff %}
<div class="col-lg-9 col-md-8 col-12">
    <h2>Delivered Products</h2>
    <hr>
    <div class="row">
        {% if orders %}
        {% for order in orders %}
            <div class="col-lg-6 col-md-6">
                <div class="card p-4 pt-3 pb-3 mb-3">
                    <span class="text-success-emphasis">
                        {% for order_item in order.orderitem_set.all %}
                            {{ order_item }}
                            <br>
                        {% endfor %}
                    </span>
                    <hr>

                    Username : {{ order.user.username }} <br>
                    Full Name : {{ order.first_name }} {{ order.last_name }} <br>
                    E-mail : {{ order.user.email }} <br>
                    Phone : {{ order.phone }} <br>
                    Address : {{ order.address }}, {{ order.place }} <br>
                    Pin Code : {{ order.pincode }} <br>
                    <span class="text-danger">Order Time : {{ order.created_at }}</span>
                </div>
            </div>
        {% endfor %}
        {% else %}
        <p class="text-center text-body-tertiary">
            Delivered products are shown in here!
        </p>
        {% endif %}
    </div>
</div>
{% endif %}
{% endblock admin %}

{% block customer %}
{% if orders %}
<div class="row">
    {% for order in orders %}
        {% if order.is_delivered %}
        <div class="col-lg-4 col-md-6 col-sm-8">
            <div class="card p-3 mb-2">
                Order ID #{{ order.id }}
                <div class="row pt-2">
                    {% for order_item in order.orderitem_set.all %}
                    <hr>
                        <div class="col-lg-3">
                            <a href="{% url 'item:detail' order_item.product.id %}"><img src="{{ order_item.product.image.url }}" alt='img' class="img-fluid" width="60rem"/></a>
                        </div>

                        <div class="col-lg-9">
                            <div class="pt-2">
                                {{ order_item.product.name }}
                            </div>
                            {% if order_item.product.description %}
                                <span class="text-secondary" style="font-size: .8rem;">
                                    {{ order_item.product.description }}
                                </span>
                            {% endif %}
                        </div>
                        
                        <div class="row pt-2">
                            <!-- ------------ quantity ---------- -->
                            <div class="col-lg-4">
                                Qty: {{ order_item.quantity }}
                            </div>

                            <div class="col-lg-7">
                                Total : ₹{{ order_item.product.price }}
                            </div>
                        </div>

                        <div class="row pt-1">
                            <div class="col-lg-12 text-danger">
                                Date : {{ order.created_at }}
                            </div>
                        </div>
                    {% endfor %}
                    <div class="row">
                        <div class="col-12">
                            Order Total : {{ order.calculate_total }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}
</div>
{% else %}
<p class="text-center text-body-tertiary">
   You haven't purchased any products yet!
</p>
{% endif %}
{% endblock customer %}
