{% extends "core/base.html" %}
{% load static %}

<title> {% block title %}Profile{% endblock title %}</title>

{% block content %}

<div class="container">
    <div class='row'>
        <div class='col-lg-4'>
            {% if user.is_staff %}
                <h4>Welcome {{ request.user }}</h4>
                <br>
                <ul class="profile-list ps-0">
                    <li>
                        <button 
                         class="btn btn-light p-2"
                         onclick="location.href= '{% url "item:new" %}' "
                        >
                        <img src="{% static "img/new.png" %}">
                        <span class="p-4 pe-5">Add Items</span>
                        </button>
                    </li>

                    <li>
                        <button 
                        class="btn btn-light"
                        onclick="location.href = '{% url "sign-out" %}' "
                        >
                            <img src="{% static "img/log-out.png" %}">
                            <span class="p-4 pe-5">Sign out</span>
                        </button>
                    </li>
                </ul>

            {% else %}
            <h4>Welcome {{ request.user }}</h4>
            <br>
            <ul class="profile-list ps-0">
                <li>
                    <button 
                    class="btn btn-light"
                    onclick="location.href = '{% url "orders:view_orders" %}' "
                    >
                        <img src="{% static "img/web-store-icon.png" %}" class="me-auto">
                        <span class="p-5 pe-5">Orders</span>
                    </button>
                </li>

                <li>
                    <button 
                    class="btn btn-light"
                    onclick="location.href = '{% url "account:address" %}' "
                    >
                        <img src="{% static "img/location-pin.png" %}">
                        <span class="p-4 pe-5">Address</span>
                    </button>
                </li>

                <li>
                    <button 
                    class="btn btn-light"
                    onclick="location.href = '' "
                    >
                        <img src="{% static "img/phone.png" %}">
                        <span class="p-4 pe-5">Contact Us</span>
                    </button>
                </li>

                <li>
                    <button 
                    class="btn btn-light"
                    onclick="location.href = '{% url "sign-out" %}' "
                    >
                        <img src="{% static "img/log-out.png" %}">
                        <span class="p-4 pe-5">Sign out</span>
                    </button>
                </li>
            </ul>
            {% endif %}
        </div>

        <div class="col-lg-8">
            {% block profile %}{% endblock profile %}
        </div>
    </div>
</div>

{% endblock content %}