{% extends "core/base.html" %}
{% load static %}

<title> {% block title %}Profile{% endblock title %}</title>

{% block content %}

<div class="container">
    <h2 class="mt-4">My Account</h2>

    <div class="mt-3 mb-4">
        <span class="text-success-empahasis">Username : </span>{{ request.user.username }} <br>
        {% if request.user.get_full_name %}
        <span>Full Name : </span>{{ request.user.get_full_name }} <br>
        {% endif %}
        <span>E-mail : </span>{{ request.user.email }} <br>

</div>

<button class="btn btn-light" onclick="location.href = '{% url "sign-out" %}' ">
    <img src="{% static "img/log-out.png" %}">
    <span>Sign out</span>
</button>
<button class="btn btn-light p-2" onclick="location.href= '{% url "item:new" %}' ">
    <img src="{% static "img/new.png" %}">
    <span>Add Items</span>
</button>
{% endblock content %}