{% if orders %}
        {% for order in orders %}
            {% if not order.is_delivered %}
                <div class="p-1 mb-3">
                    <div class="row">
                        <div class="d-flex mb-2">
                        <span class="text-secondary me-auto">Order ID # {{ order.id }}</span>

                        <div class='ms-3 d-flex'>
                            <a class='btn btn-outline-light p-0 ps-1 pe-1 ms-auto' href="{% url "order:cancel_order" order.id %}"  onclick="return confirmCancel()">
                            <img src="{% static "img/bin.png" %}" ></img>
                            </a>
                        </div>
                        </div>
                        <hr />
                        {%  for order_item in order.orderitem_set.all %}
                        <div class="col-lg-1 col-md-1 col-sm-1 col-3 mb-3">
                            <a href="{% url 'item:detail' order_item.product.id %}">
                            <img src="{{ order_item.product.image.url }}" alt='img' class="img-fluid" width="60rem"/>
                            </a>
                        </div>
                    
                        <div class="col-lg-4 col-md-4 col-sm-4 col-5">
                            <div class="pt-2">
                            {{ order_item.product.name }}
                            </div>
                            {% if order_item.product.description %}
                            <span class="text-secondary" style="font-size: .8rem;">
                                {{ order_item.product.description }}
                            </span>
                            {% endif %}
                        </div>
                
                        <div class="col-lg-2 col-md-2 col-sm-2 col-4 mt-3">
                            ₹{{ order_item.product.price }}
                        </div>
                
                        <!-- ------------ quantity ---------- -->
                        <div class="col-lg-3 col-md-3 col-sm-3 col-5 mt-3 mb-4">
                            <div class="d-flex">
                            Qty: 
                            <input type="text" class="text-center form-control ms-2"  value="{{ order_item.quantity }}" 
                                style="width: 3rem; height: 1.5rem;" 
                                readonly
                            >
                            </div>
                        </div>
                
                        <!-- --------------- subtotal ------------------ -->
                        <div class="col-lg-2 col-md-2 col-sm-2 col-6 mt-3">
                            ₹{{ order_item.calculate_subtotal }}
                        </div>
                        <hr>
                        {% endfor %}

                        <div class="d-flex mb-2">
                            <div class="text-body-tertiary"> <span class="text-black">Date : <br> </span> {{ order.created_at }}</div>
                            <div class="text-warning-emphasis ms-auto">Total : ₹{{ order.calculate_total }} </div>
                        </div>
                        <hr>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% else %}
        <p class="text-center text-body-tertiary">You haven't ordered anything yet</p>
    {% endif %}