{% extends "core/base.html" %} {% load static %} 
{% block title %} {{ product.name }}{% endblock title %} 

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-lg-7 col-md-7 col-sm-12 mb-4">
      <div>
        {% if product.image %}
        <a target="_blank" href="{{ product.image.url }}">
          <img src="{{ product.image.url }}" width="350rem" class="img-fluid rounded mx-auto d-block"/>
        </a>
        {% else %}
        <img src="#" alt="image of {{ product.name }}" class="img-fluid item-img object-fit-none" />
        <h1 class="text-center p-5">Image not Available</h1>
          {% endif %}
      </div>
    </div>

    <div class="col-lg-5 col-md-5 col-sm-12">
      <div class="card border-1 border-warning position-relative p-3  mt-2">
        <div>
          <a
            {% if user.is_authenticated %}
            href="{% url "favourites:add_to_favourites" product.id %}" 
            {% else %}
            href ="{% url 'sign-in' %}?next={% url "favourites:add_to_favourites" product.id %}"
            {% endif %}
            class="btn-add-to-favourite text-danger fs-1 position-absolute top-0 end-0 mt-1 pt-1 me-3"
          >
            <i class='bx bxs-heart'></i>
          </a>
        </div>
        <h5 class='card-title'>{{ product.name }}</h5>
        {% if product.description %}
        <h5 class="text-dark" style="font-size: .9rem;">{{ product.description }}</h5>
        {% endif %}
        
        <div class="card-text text-body-tertiary">MRP inclusive of all taxes</div>
        <p class="card-text">Rs. {{ product.price }}</p>

        {% if user.is_staff %}
        <div class="container">
          <div class='row p-3 bg-body-tertiary rounded ms-auto me-auto'>
            <p>You can work with your products!</p>
            <div class='col-6'>
              <a 
                class="btn btn-outline-danger"
                onclick="return confirmCancel()"
                href = "{% url "item:delete" product.id %}"
              >Delete
              </a>
            </div>
            <div class='col-6'>
              <button 
                class="btn btn-outline-dark ps-4 pe-4"
                onclick="location.href = '{% url "item:edit" product.id %}' "
              > Edit 
              </button>
            </div>
          </div>
        </div>
        {% else %} 
        <p class="text-black-50 mt-5">
          <i class='bx bx-info-circle'></i>
          Delivery Time : 2-7 Days
        </p> 
        <button 
          class="btn btn-warning fs-6"
          {% if user.is_authenticated %}
          onclick="location.href = '{% url "cart:add_to_cart" product.id %}' "
          {% else %}
          onclick="location.href = '{% url 'sign-in' %}?next={% url "cart:add_to_cart" product.id %}' "
          {% endif %}
        >
          Add
          <i class='bx bx-shopping-bag fw-medium'></i>
        </button>
        {% endif %}
      </div>
    </div>
  </div>

  {% if related_items %}
    <div class="container pt-5">
      <h2>Related Products</h2>
      <hr>
      <div class="row">
        {% for item in related_items %}
          <div class="col-lg-3 col-md-4 col-sm-6 pt-3 pb-3">
            <div class="card product-div">
              <a class="product-img-link" href="{% url "item:detail" item.id %}">
                <div class="card-img">
                  {% if item.image %}
                  <img src="{{ item.image.url }}" class="img-fluid item-img object-fit-cover" />
                  {% else %}
                  <img src="#" alt="image of {{ product.name }}" class="img-fluid item-img object-fit-cover" />
                  {% endif %}
                </div>
              </a>
              <div class="card-body">
                <div class="text-dark fs-6 lh-1 fw-bold">{{ item.name }}</div>
                <div class="fs-6 text-body-tertiary fw-light pb-2">
                  Price: ₹{{ item.price }}
                </div>
                
                <div class="d-grid gap-2">
                  <button class="btn btn-warning" onclick="location.href ='{% url "item:detail" item.id %}' ">View</button>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}
</div>

{% endblock content %}
